{
    "extends": [
      "plugin:astro/recommended",
      "standard"
    ],
    "rules": {
      "space-before-function-paren": "off",
			"no-tabs": "off"
    },
    "overrides": [
      {
        "files": [
          "*.astro"
        ],
        "parser": "astro-eslint-parser",
        "parserOptions": {
          "extraFileExtensions": [
            ".astro"
          ]
        }
      }
    ]
  }