---
import { getSchedule } from '../../../services/schedule.js'
import Main from '../../components/Main.astro'
import Title from '../../components/Title.astro'
import Layout from '../../layouts/Layout.astro'
import TableSchedule from '../../components/TableSchedule.jsx'

const schedule = await getSchedule()
---

<Layout>
	<Title title="Calendario"/>
	<Main>
		{
			schedule.map(({ playingDay, plays }) => (
				<article class="w-full max-w-2xl mx-auto mb-20">
					<header class="mt-4">
						<h3 class="text-xl font-bold">
							{playingDay}
						</h3>
					</header>
					<TableSchedule plays={plays} mdClass="sm" client:load/>
				</article>))
		}
		<div class="border-t border-black mb-10"></div>
		<h2 class="text-2xl font-bold">Playoff – 25 y 26/03/2023*</h2>
		<img class="block mx-auto mb-10 mt-4 object-contain" src="/public/icons/final-fixture.png" alt="Final fixture">
	</Main>
</Layout>
