---
import { getTopAssistsPlayer } from '../../services/top-assists'
import { getTopScorerPlayer } from '../../services/top-scorer'
import Main from '../components/Main.astro'
import Partners from '../components/Partners.astro'
import TopPlayer from '../components/TopPlayer.astro'
import TableLeaderboardIndex from '../components/TableLeaderboardIndex.astro'
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'

const { goals } = await getTopScorerPlayer()
const { assists } = await getTopAssistsPlayer()
---

<Layout title="">
	<Title/>
	<Main class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-[repeat(14,150px)] sm:grid-rows-[repeat(8,150px)] lg:grid-rows-[repeat(6,150px)] pb-32 mt-14 gap-6">
		<TableLeaderboardIndex class="row-span-3 col-start-1"/>
		<div class="row-span-3 col-start-1 bg-gray-500"></div>
		<TopPlayer class="row-span-2 sm:row-start-1 sm:col-start-2 lg:col-end-4" from="mvp">
				<h2 class="font-bold text-[120px]">MVP</h2>
		</TopPlayer>
		<TopPlayer class="row-span-2 sm:row-start-3 sm:col-start-2" from="top-scorer">
			<h2 class="font-bold text-[120px]">{goals}</h2>
			<h3 class="font-bold text-4xl">Goles</h3>
		</TopPlayer>
		<TopPlayer class="row-span-2 sm:row-start-5 sm:col-start-2 lg:row-start-3 lg:col-start-3" from="top-assists">
				<h2 class="font-bold text-[120px]">{assists}</h2>
			<h3 class="font-bold text-4xl">Asistencias</h3>
		</TopPlayer >
		<div class="row-span-2 sm:col-span-2 bg-gray-500 "></div>
	</Main>
	<Partners/>
</Layout>
