---
import Layout from '../layouts/Layout.astro'
import Table from '../components/Table.astro'
import Main from '../components/Main.astro';
---
<Layout>
	<Main>
		<div class="grid grid-cols-3 ">
			<Table/>
			<Table/>
			<Table/>
			<Table/>
			<Table/>
			<Table/>
			<Table/>
			<Table/>
		</div>
	</Main>
</Layout>
