<div class="text-center mb-4">
	<a href="/estadisticas" class="font-bold text-sm inline-flex px-2 py-1 items-center justify-center gap-x-1 hover:text-[#fab60a] transition-all duration-700">
			<img class="w-6" src="/public/icons/back.svg" alt="Icon Back">
			<span>Leaderboard</span>
	</a>
</div>
