<a class="overflow-hidden" href="https://www.twitch.tv/kingsleague" target="_blank">
	<button class="rounded-md flex items-center font-bold text-sm sm:text-base p-4 sm:px-10 sm:py-6 h-6 bg-black text-white">
		<img class="w-4 aspect-square block mr-2" src="/social/twitch.svg" alt="Logo twitch">
		<span>KINGSLEAGUE</span>
		<span class="inline-block ml-1 px-1 bg-[#fab60a]">TV</span>
	</button>
</a>
