---
import FooterLegalsLinks from './FooterLegalsLinks.astro'
import FooterNavLinks from './FooterNavLinks.astro'
import ListSocialNetworks from './ListSocialNetworks.astro'

---

<footer class="py-10 bg-black">
	<div class="w-11/12 mx-auto flex flex-col sm:flex-row items-center justify-between">
		<section class="flex flex-col items-center gap-4 mb-10 sm:mb-0">
			<img class="w-40" src="/icons/kings-league-alternative.svg" alt="Logo Kings League">
		<ListSocialNetworks/>
	</section>
	<section class="text-white">
		<FooterNavLinks/>
		<FooterLegalsLinks/>
	</section>
</div>
</footer>
