---
import { getAllTeams } from '../../services/teams.js'
import LogoKingsLeague from './Logo.astro'
import Logo from './LogoTeam.astro'
const teams = await getAllTeams()
const teamsValues = Object.values(teams)

const logos = teamsValues.map(({ image, name }) => ({ name, image }))

const logosPartOne = []
const logosPartTwo = []

logos.forEach((logo, index) => {
	index % 2 === 0
	? logosPartOne.push(logo)
	: logosPartTwo.push(logo)
})
---

<nav class="flex h-20 justify-center items-center gap-x-2 w-auto bg-black outline-black outline-4 outline border-4 border-[#fab60a] py-2 px-6 rounded-3xl">
	{logosPartOne.map(({ image, name }) =>
		<li class="block w-full aspect-square">
			<Logo image={image} name={name}/>
		</li>
	)}
	<LogoKingsLeague class="w-full scale-125 mx-6 aspect-square" />
	{logosPartTwo.map(({ image, name }) =>
		<li class="block w-full aspect-square">
			<Logo image={image} name={name}/>
		</li>
	)}
</nav>
