---
const { class: styles } = Astro.props

console.log(styles)
---

<a href="/" class={`w-full ${styles}`} >
	<img class="w-full" src="https://kings-league-api.lautaronorielasat.workers.dev/static/logos/kings-league.svg" alt="Logo oficial de la Kings League">
</a>
