---
import KingsLeagueLogos from './KingsLeagueLogos.astro'
import ListSocialNetworks from './ListSocialNetworks.astro'
import Navbar from './Navbar.astro'
---
<div class="w-3/4 mx-auto hidden lg:block">
		<KingsLeagueLogos/>
		<div class="flex justify-between pt-4">
			<Navbar/>
			<ListSocialNetworks/>
		</div>
</div>
