---
import ButtonTV from './ButtonTV.astro'
import Logo from './Logo.astro'

---

<nav class="flex justify-between items-center lg:hidden">
	<Logo class="w-14 sm:w-16 aspect-square block"/>
	<ButtonTV/>
	<img class="w-12 sm:w-14  aspect-square block" src="/public/menu.svg"/>
</nav>
