---
import Layout from '../../layouts/Layout.astro'
import Main from '../../components/Main.astro'
import Title from '../../components/Title.astro'
import TeamsCards from '../../components/TeamsCards.astro';
---

<Layout>
	<Title title="Equipos"/>
	<Main>
		<TeamsCards/>
	</Main>
</Layout>
